//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

//系统颜色
$sysBlack:#29292A;
$sysGolden:#F3D198;
$sysLightGreen:#0FB80F;
$sysDarkGreen:#2D8459;
$sysBlue:#3C8EEF;
$sysRed:#F83149;

//文本颜色
$mainText:#29292A; //主文本
$functionText:#797988; //功能文本
$auxiliaryText:#9898A1; //辅助文本
$placeholderText:#B8B8C5; //占位文本

//线条颜色
$inputBorder:#d9d9d9; //输入框边框
$divideBorder:#e8e8e8; //分割线、表格表框
$imgBorder:#ebebf2; //图片边框

//背景色
$mainBg:#F2F2F2; //大背景色
$lightBg:#F5F5FA; //浅背景色
$hoverBg:#F5F7FA; //hover背景色
